.city-img-container {
  max-width: 90%;
  margin: 0 auto;
}

.city-img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  height: 12rem;  
}

.city-name {
  color: white;
  width: 100%;
  text-align: center;
  transform: translateY(-3rem);
  background-color: hsla(0, 0%, 0%, 0.35);
  border-radius: 0 0 10px 10px;
  margin-bottom: -1.25rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
