.city-img-container {
  position: relative;
  max-width: 85%;
  margin: 0 auto;
  margin-bottom: 1.25rem;
}

.city-img {
  width: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 10px;
  max-height: 12rem;  
}

.city-name {
  color: white;
  position: absolute;
  top: 80%;
  width: 100%;
  margin: 0;
  text-align: center;
  text-shadow: 10px 2px 15px black;
}