.main-content-urban-areas {
  margin: 0 auto;
}


.urban-area-img-container {
  position: relative;
  margin: 0 auto;
  height: 30vh
}

.urban-area-img {
  width: 100%;
  object-fit: cover;
  height: 30vh;
  background: #C4C4C4;
  mix-blend-mode: multiply; 
}