.category-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: -0.5rem;
}

.category {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category-name {
  margin-left: 0.6rem;
  font-size: 0.9rem;
  font-weight: 400;
}

.all-scores-container {
  display: flex;
  align-items: center;
}

.progress-bar {
  background-color: #d8d8d8;
  border-radius: 20px;
  margin: 15px 0;
  height: 6px;
  width: 96px;
}

.progress-bar-fill {
  background: linear-gradient(90.17deg, #4262F6 0%, #8AFBFB 102.72%);
  border-radius: 20px;
  margin: 15px 0;
  height: 6px;
  width: 0px;
  transform: rotate(-180deg);
}

.score-container {
  margin-left: 0.9rem;
}

.score {
  width: 0.9rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.2px;
}
