.summary-container {
  margin: 1rem 1.5rem 1.5rem 1.5rem;
  position: relative;
}

.summary {
  color: #201F20;
  font-size: .9rem;
  mix-blend-mode: normal;
  line-height: 24px;
  font-weight: 400;
  padding-top: 1.7rem;
}

.summary-container::before {
  content: url(../../assets/images/down-arrow2.png);
  position: absolute;
  height: auto;
  left: 45%;
  bottom: 100%;
}

.summary::before {
  content: "";
  position: absolute;
  height: 1px;
  background: rgba(110, 111, 112, 0.25);
  width:100%;
  left: 50%;
  bottom: 97%;
  transform: translateX(-50%);
}
