.city-rating-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.city {
  margin-left: 1.6rem;
  font-weight: 700;
  font-size: 1.5rem;
}
.rating-container {
  display: flex;
  justify-content: space-between;
}

.star-icon {
  width: 1rem;
  margin-right: .125rem;
}

.overall-score {
  margin-right: 1.5rem;
  font-size: 1rem;
}

.overall-rating {
  font-size: 1.5rem;
}