.main-content-urban-areas {
  margin: 0 auto;
  max-width: 32rem;
}

.urban-area-img-container {
  position: relative;
  margin: 0 auto;
  height: 22rem;
}

.urban-area-figure {
  margin: 0 auto;
}

.urban-area-img {
  width: 100%;
  object-fit: cover;
  height: 22rem;
  background: #C4C4C4;
  mix-blend-mode: multiply; 
}

.back-button-parent {
  background: transparent;
  width: 2.3rem;
  border: none;
  margin-left: 0.7rem;
  cursor: pointer;
  transform: translateY(-21rem);
  padding: 0;
}

.back-button-image {
  vertical-align: top;
}