*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'DM Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  min-width: 20rem;
}

input {
  font: inherit;
}