.main-container {
  max-width: 37.5rem;
}

.main-content-random-cities {
  background-color: #EEFCFC;
  border-radius: 15px;
  margin: 0 auto;
  min-width: 20rem;
}
.greeting{
  text-align: center;
  font-weight: 700;
  font-size: 25px;
  line-height: 32px;
  letter-spacing: 0.2px;
  padding-top: 1.25rem;
}